<style>

.alert.success {
    margin-top: -50px !important;
    padding: 10px 28px;
    z-index: 9;
    position: relative;
    text-align: center;
      margin-bottom: 0;
}
  .alert.success img {
    height: 22px;
    margin-top: 7px;
    margin-left: 6px;
}
.sub-aft:after {
    right: -14px;
    display: none;
}
    .ts-hide-from-page{
      display:none;
    }
    .custom-contact-form .Form__Input, .Form__Textarea {
      background-color: #ffffff;
    }
    .Form__Input, .Form__Textarea{border: solid 1px #171717;}   
      .nwl{max-width:200px;margin:0 auto;position:relative;}
      .nwl svg{position: absolute;
        z-index: 999;}
      #section-header, #section-footer{display:none;}
      .cstmwidth{max-width:500px;}
    
    .attended div#shopify-section-announcement-bar {
        display: none;
    }
    
    /* .attended div#shopify-section-header {
        display: none;
    } */
    
    /* .attended div#shopify-section-footer {
        display: none;
    } */
  .attended .minute, 
.attended .hour, 
.attended .second, 
.attended .dot
{
  background:#fff !important;
    border:1px solid #fff !important;
}
  .inner-mainbanner img
  {
    width:100%
  }
    .main-outerwidth .page-widthcstm {
        display: flex;
        max-width: 1580px;
        margin: 0 auto;
    }
    .slideshow__image {
	object-fit: unset;
	object-position: unset;
      height:unset;
}
    .main-outerwidth .page-widthcstm .PageContent.cstmwidth {
        margin: -700px 0px 0px;
      position: relative;
  z-index: 2;
    }
  @media(min-width:320px) and (max-width:767px)
  {
.main-outerwidth .page-widthcstm {
	flex-wrap: wrap;
	justify-content: center;
  width: 100%;
}
    .main-outerwidth .page-widthcstm .mainpagelist {
	width: 100%;
      margin-top: 40px !important;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
        .main-outerwidth .page-widthcstm .mainpagelist .itemtitle{
          width: 100%;
  text-align: center;
        }
  }
  @media(min-width:320px) and (max-width:767px)
  {
.main-outerwidth .page-widthcstm .PageContent.cstmwidth {
	margin: -157px 0px 0px;
}
  }
  @media(min-width:768px) and (max-width:999px)
  {
.main-outerwidth .page-widthcstm .PageContent.cstmwidth {
	margin: -226px 0px 0px;
}
  }
  @media(min-width:1000px) and (max-width:1199px)
  {
      .main-outerwidth .page-widthcstm .PageContent.cstmwidth {
        margin: -400px 0px 0px;
      position: relative;
  z-index: 2;
    }
  }
  
    @media(min-width:1200px) and (max-width:1400px)
  {
      .main-outerwidth .page-widthcstm .PageContent.cstmwidth {
        margin: -500px 0px 0px;
      position: relative;
  z-index: 2;
    }
  }
   @media(min-width:1401px) and (max-width:1700px)
  {
      .main-outerwidth .page-widthcstm .PageContent.cstmwidth {
        margin: -600px 0px 0px;
      position: relative;
  z-index: 2;
    }
  }
  
    .main-outerwidth .page-widthcstm .mainpagelist {
        margin: 0 auto;
        margin-top: 60px;
    }
    
    .attended form#contact_form {
    margin: 0;
    padding: 32px;
    border: 1px solid #ca6019;
    background: #ca6019;
    position: relative;
    /* z-index: 100;
    transition: all 500ms linear;
    transform: translate3d(0, 100px, 0);
    margin-top: -200px !important; */
    }
    .attended form#contact_form h3 {
    margin-top: 0;
    font-family: rector-medium;
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    color: rgb(var(--heading-color));
    font-size: 30px;
    letter-spacing: 0px;
    text-align: center;
      max-width:324px;
      margin:0px auto;
      margin-bottom:30px;
    }

    .attended input#email::placeholder,
    .attended input#phone2::placeholder,
    .attended input#contactfirstname::placeholder,
    .attended input#contactlastname::placeholder,
    .attended select.Form__Input.bg_color::placeholder,
    .attended textarea#contactcsttxet::placeholder,
    .attended .custom-event-form .Form__Item input::placeholder {
        color: #000 !important;
        font-family: 'rector-medium';
        opacity: 1 !important;
    }
    .attended form#contact_form_2 input::placeholder,
    .attended form#contact_form_2 textarea::placeholder {
        color: #000 !important;
        opacity: 1 !important;
    }
    body div#main .Form__Item.is-filled select.Form__Input {
        font-family: 'rector-regular';
    }
    .attended  #shopify-section-header {
        margin-bottom: calc(-1 * (var(--header-height, 0px) + var(--enable-sticky-announcement-bar) * var(--announcement-bar-height, 0px))) !important;
    }
    .attended .ts-logo-slide {
        display: none;
    }
    .attended .custom-event-form .Form__Item input, .attended .Form__Input, .attended .Form__Textarea {
        font-family: 'rector-regular';
    }
    .attended .main-outerwidth .page-widthcstm {
        margin-bottom: 100px;
    }
  
  .alert.success {
    z-index: 999;
    position: relative;
    /* display: none !important; */
    padding: 10px 28px !important;
    margin-bottom: -24px !important;
    top: -20px;
}
.cstmloader{
    width: 28px;
    height: 28px;
    margin-left: 5px;
    margin-top: 3px;
      
}
   .attended .btn-evn button.Form__Submit.Button.Button--full.newbtngse.btnsum {
    display: none;
}
.attended .alert.success {
    display: flex;
    justify-content: center;
}

      
    </style>
    
    
    <!-- 
    <div class="main-banner">
    <div class="inner-bannermain">
    <img src="">
    </div>
    </div>
     -->
    
    <div id="dynamic" class="activeheight"></div>
    <div class="Container " id="rForm">
    <div class="main-outerwidth">
      <div class="page-widthcstm">
      <div class="PageContent cstmwidth">
        <div class="Rte custom-event-form ">
          <div class="column-right contentPost" id="Form">
        {{- page.content -}}<br/>
    
          <form class="contact_forms animation-element slide-up" name="contact" id="contact_form" method="post" action="#" enctype="multipart/form-data">
          <input type="hidden" name="formname" value="Generic">
          <input type="hidden" name="domain" value="momentum-15.myshopify.com">
            
            <div class="alert info" style="display: none; margin-top: 20px !important;">
                <strong>Error!</strong> Please fix the error(s) below.
                <span class="info-message"></span>
          </div>
            
            {%- if form.posted_successfully? -%}
              <p class="Alert Alert--success">{{ 'contact.form.successfully_sent' | t }}</p>
            {%- endif -%}
    
            {%- if form.errors -%}
              <div class="Form__Alert Alert Alert--error">
                <ul class="Alert__ErrorList">
                  {%- for field in form.errors -%}
                    {%- if field == 'form' -%}
                      <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                    {%- else -%}
                      <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
            <h3>Thank you for joining us!</h3>
            <div class="Form__Item" style="margin-bottom:32px;">
                <input type="email" class="Form__Input upall" id="email" name="email" aria-label="{{ 'contact.form.email' | t }}" placeholder="{{ 'contact.form.email' | t }} *" required {% if customer %}value="{{ customer.email }}"{% endif %}>
                <label class="Form__FloatingLabel">{{ 'contact.form.email' | t }} *</label>
              
              </div>
          
              <div class="Form__Item phone_fields">
                <input id="phone2" type="tel" class="required Form__Input bg_color" name="phone" aria-label="Phone No." placeholder="Phone No. *" required>
               <label class="Form__FloatingLabel phnlbl label2 ts-label-block">Phone No. *</label>
            </div>
          
              <div class="Form__Item">
                <input type="text" class="Form__Input upallfirst" name="first_name" aria-label="Your first name" placeholder="First Name *" required {% if customer %}value="{{ customer.name }}"{% endif %}>
                <label class="Form__FloatingLabel">First Name *</label>
              </div>
              <div class="Form__Item"  style="margin-bottom:32px;">
                <input type="text" class="Form__Input upalllast" name="last_name" aria-label="Your last name" placeholder="Last Name *" required {% if customer %}value="{{ customer.name }}"{% endif %}>
                <label class="Form__FloatingLabel">Last Name *</label>
              </div>
            
            <div class="Form__Item"  style="margin-bottom:32px;">
            <select type="select" class="Form__Input upallsel" name="country" aria-label="Country of residence" placeholder="Country of residence" required="required">
              <option>United Arab Emirates</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Brazil">Brazil</option>
              <option value="Brunei">Brunei</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Côte d'Ivoire">Côte d'Ivoire</option>
              <option value="Cabo Verde">Cabo Verde</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo (Congo-Brazzaville)">Congo (Congo-Brazzaville)</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Croatia">Croatia</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czechia (Czech Republic)">Czechia (Czech Republic)</option>
              <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Eswatini (fmr. &quot;Swaziland&quot;)">Eswatini (fmr. "Swaziland")</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Greece">Greece</option>
              <option value="Grenada">Grenada</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Holy See">Holy See</option>
              <option value="Honduras">Honduras</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Laos">Laos</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libya">Libya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia">Micronesia</option>
              <option value="Moldova">Moldova</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montenegro">Montenegro</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar (formerly Burma)">Myanmar (formerly Burma)</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="North Macedonia">North Macedonia</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Palestine State">Palestine State</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Qatar">Qatar</option>
              <option value="Romania">Romania</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Korea">South Korea</option>
              <option value="South Sudan">South Sudan</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Suriname">Suriname</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania">Tanzania</option>
              <option value="Thailand">Thailand</option>
              <option value="Timor-Leste">Timor-Leste</option>
              <option value="Togo">Togo</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States of America">United States of America</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
              <label class="Form__FloatingLabel">Country of residence</label>
            </div>
            <div class="Form__Item ts-hide-from-page">
            <select type="select" class="Form__Input" name="leadsource" aria-label="How did you hear about us" placeholder="How did you hear about us" >
              <option>Other</option>               
              <option>Events</option>
              <option>Instagram</option>
              <option>Google</option>
              <option>Affiliate Site</option>
             
              <option>Friends</option>   
              
            </select>
              <label class="Form__FloatingLabel ">How did you hear about us</label>
            </div>
    
            {%- for block in section.blocks -%}
              {%- assign field_title = block.settings.title -%}
    
              {%- if field_title == blank -%}
                {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
              {%- endif -%}
    
              {%- if block.type == 'text' -%}
                <div class="Form__Item">
                  {%- if block.settings.use_long_text -%}
                    <textarea name="contact[{{ field_title | escape }}]" cols="30" rows="7" class="Form__Textarea" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}></textarea>
                    <label class="Form__FloatingLabel">{{ block.settings.title | escape }}</label>
                  {%- endif -%}
                </div>
              {%- elsif block.type == 'dropdown' -%}
                {%- assign values = block.settings.values | split: ',' -%}
    
                {%- if values == empty -%}
                  {%- continue -%}
                {%- endif -%}
    
                <div class="Form__Item">
                  <div class="Form__Select Select Select--primary">
                    {%- include 'icon' with 'select-arrow' -%}
    
                    <select name="phone" title="{{ block.settings.title | escape }}">
                      <option value="" disabled selected>{{ block.settings.title | escape }}</option>
    
                      {%- for value in values -%}
                        {%- assign trim_value = value | strip -%}
    
                        <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
                      {%- endfor -%}
                    </select>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
        
            <div class="Form__Item ts-hide-from-page">
              {% comment %}
              <input type="hidden" name="product_description" id="cstminput" value="Gulf Historic 2022" aria-label="{{ 'contact.form.message' | t }}">
              {% endcomment %}
              <textarea name="product_description"  value="{%- if template.suffix == 'new-landing-page' -%}Relocation{%- else -%}Gulf Historic 2022{%- endif -%}" id="csttxet" cols="30" rows="6 !important" class="Form__Textarea" aria-label="{{ 'contact.form.message' | t }}"  >{%- if template.suffix == 'new-landing-page' -%}Relocation{%- else -%}Gulf Historic 2022{%- endif -%}</textarea>
              <label class="Form__FloatingLabel">{{ 'contact.form.message' | t }} *</label>
            </div>
         
    
    
            
            <div class="Form__Item"  style="margin-bottom:-17px; margin-top:-20px;">
      <p style="padding-top:10px; color: #646464;">
                <input type="checkbox" style="accent-color: black;" name="receiveemailcall" checked="checked">I would like to receive more information about Momentum's products, services, events, news and offers.
                </p>
            </div>
            <div class="btn-evn">
            <button  type="submit" id="contact_form_save" class="Form__Submit Button  Button--full newbtngse"><div class="sbf">Submit</div> </button>
         
            </div>
            <div class="alert info" style="display: none; margin-top: 20px !important;">
                <strong>Error!</strong> Please fix the error(s) below.
                <span class="info-message"></span>
          </div>
            
            <div class="alert success" style="background:#171717; margin-top: -30px !important; padding:10px 28px; display: none; font-family: rector-medium; font-size: 18px;  font-weight: 500; font-style: normal; text-transform: capitalize;">
               <div class="sub-aft">Submitted successfully<img src="https://cdn.shopify.com/s/files/1/0513/9201/files/Vector.svg"></div>
          </div>
            </form>
        </div>
        </div>
      </div>
    
      <div class="mainpagelist">
      {% for block in section.blocks %}
         {%- if block.type == 'pagelink' -%}
        {% if block.settings.title %}
          <div class="itemtitle">
          <h4 class="titlelink"><a href="{{ block.settings.link}}">{{ block.settings.title }}</a></h4>
          </div>
        {% endif %}
           {% endif %}
        {% endfor %}
      </div>
      </div>
    </div>
    
      
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
    
    <!-- <script>
    $(document).ready(function(){
      $("#csttxet").keypress(function(){
        $("#cstminput").removeAttr("name");
         $("#csttxet").attr("name","product_description");
      });
       $("#csttxet").attr("name","product_description_new");
    });
    </script> -->
    
    <!--<script>
    $(document).ready(function () {
     $(".newbtngse").click(function () {
           $(this).text("Submitting");
         $('.newbtngse').addClass('btnsum');
        });
    });
    </script>
    
    <script>
    $(document).ready(function() {
      $('.upall, .upallfirst').on('keyup', function() {
        let empty = false;
    
        $('.Form__Item input').each(function() {
          empty = $(this).val().length == 0;
        });
    
        if (empty)
          $('#contact_form_save').attr('disabled', 'disabled');
        else
          $('#contact_form_save').attr('disabled', false);
      });
    });
      </script>-->
    
    <script>
    var isEmpty = false;
    $(".newbtngse").on('click touchend', function() {
      isEmpty = false
      $('input[type=text]:required').each(function() {
        if ($(this).val() === '')
          isEmpty = true;
      });
    
    //$('[name=country]').each(function() {
        //if ($(this).val() === '')
       //   isEmpty = true;
      //});
    
      if ($("[name=country]").val() == "")
        isEmpty = false;
    
      //if (!$(".cb").is(":checked"))
      //  isEmpty = true;
    
      if (isEmpty);
      else 
        $(this).text("Submitting") && $('.btn-evn').addClass('btnsum');
    });
      
    </script>
    
    
    {% schema %}
    {
      "name": "Attebded Form",
      "settings": [],
      "blocks": [
        {
          "type": "text",
          "name": "Text field",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Name",
              "default": "Custom field"
            },
            {
              "type": "checkbox",
              "id": "use_long_text",
              "label": "Use long text",
              "default": false
            },
            {
              "type": "checkbox",
              "id": "is_required",
              "label": "Field is required",
              "default": false
            }
          ]
        },
        {
          "type": "dropdown",
          "name": "Dropdown",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Name",
              "default": "Custom field"
            },
            {
              "type": "text",
              "id": "values",
              "label": "Values",
              "info": "Separate each value by a comma.",
              "default": "value 1, value 2, value 3"
            }
          ]
        },
        {
          "type":"pagelink",
          "name":"title",
          "settings":[
            {
              "type":"text",
              "id":"title",
              "label":"Title"
            },
            {
              "type":"url",
              "id":"link",
              "label":"Link"
            }
          ]
        }
      ],
      "presets":[
        {
           "name":"Attebded Form"   
        }
      ]
    }
    {% endschema %}
    
    <style>
    .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      margin-bottom: 15px;
      
    }
    
    .alert.success-request {background-color: #04AA6D;}
    .alert.success {background-color: #04AA6D;}
    .alert.info {background-color: #B1B1B1;}
    .alert.warning {background-color: #ff9800;}
    
    .alert.review-success-request {background-color: #04AA6D;}
    .alert.review-success {background-color: #04AA6D;}
    .alert.review-info {background-color: #B1B1B1;}
    .alert.review-warning {background-color: #ff9800;}
      
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
    
    
    
    
    
    </style>
    
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script>
        var dvlp_app_url = 'https://momentum-dubai.com/apps/unified-momentum';
        
      $('#contact_form').submit(function (event) {
        $('.newbtngse').html("Submitting <img class='cstmloader' src='https://cdn.shopify.com/s/files/1/0513/9201/files/spinner.gif?v=1698836364'>");
                event.preventDefault();
                $('.success').hide();
                $('.info').hide();
                $.post(dvlp_app_url + "/lead",
    //                 {
    //                     domain: "surf9.myshopify.com",
    //                     first_name: $('#contactFormFirstName').val(),
    //                     last_name: $('#contactFormLastName').val(),
    //                     email: $('#contactFormEmail').val(),
    //                     product: $('#contactFormProduct').val(),
    //                     product_size: $('#contactFormProductSize').val(),
    //                     product_color: $('#contactFormProductColor').val(),
    //                     black_box: $('#ioBlackBox').val(),
    //                     // phone: $('#contactFormPhone').val(),
    //                     address1: $('#contactFormAddress1').val(),
    //                     city: $('#contactFormCity').val(),
    //                     province: $('#contactFormProvince').val(),
    //                     country: $('#contactFormCountry').val(),
    //                     zip: $('#contactFormZip').val(),
    //                     // serial_number: $('#contactFormSerialNumber').val(),
    //                     is_subscribed: $('#isSubscribed:checked').val(),
    //                     acceptance: $('#acceptance').val(),
    //                     ip_address: $('.ip_address').val()
    //                 },
                       $('#contact_form').serialize(),
                    function (data, status) {
                        if (data.status == '1') {
                          $('#contact_form_save').hide();
                            $('.success').show();
                        } else {
                            let errors = '<ul>';
                            $.each(data.message, function (key, value) {
                                errors += '<li>' + value + '</li>';
                            });
                            errors += '</ul>';
                          console.log(errors);
                          
                            $('.info-message').html(errors);
                            $('.info').show();
                            $('#contact_form_save').show();
                        }
                    })
                    .fail(function (response) {
                        let errors = '<ul><li>Something went wrong, please try again later.</li></ul>';
                        $('.info-message').html(errors);
                        $('.info').show();
                        $('#contact_form_save').show();
                    });
                return false;
            });
      </script>
    <script>
    $(document).ready(function () {
     $(".newbtngsc").click(function () {
           $(this).text("Submit");
        });
    });
    </script>
    <script>  
    $(document).ready(function() {
        $(".contentPost").delay(10000).fadeIn(500);
    });
    </script>
    
    <script>
    
      var $animation_elements = $('.animation-element');
    var $window = $(window);
    
    function check_if_in_view() {
      var window_height = $window.height();
      var window_top_position = $window.scrollTop();
      var window_bottom_position = (window_top_position + window_height);
     
      $.each($animation_elements, function() {
        var $element = $(this);
        var element_height = $element.outerHeight();
        var element_top_position = $element.offset().top;
        var element_bottom_position = (element_top_position + element_height);
     
        //check to see if this current container is within viewport
        if ((element_bottom_position >= window_top_position) &&
            (element_top_position <= window_bottom_position)) {
          $element.addClass('in-view');
        } else {
          $element.removeClass('in-view');
        }
      });
    }
    
    $window.on('scroll resize', check_if_in_view);
    $window.trigger('scroll');
    </script>
    
    <script>
    $(document).ready(function () {
      $(window).scroll(function(){
        if ($(this).scrollTop() > 200) {
           $('#dynamic').removeClass('activeheight');
        } 
    });
      });
    </script>
    <script>
$(document).ready(function() {
  const url = window.location.href;
  const urlParts = url.split('?');
  if (urlParts.length > 1) {
	const valueAfterQuestionMark = urlParts[1];
	$('#csttxet').val('Attended ' + valueAfterQuestionMark);
  }
});
  </script>