{% comment %}{%- if section.settings.layout_mode == 'carousel' -%}
  {%- capture flickity_options -%}
  {
    "prevNextButtons": true,
    "pageDots": false,
    "wrapAround": false,
    "contain": true,
    "cellAlign": "center",
    "watchCSS": true,
    "dragThreshold": 2,
    "groupCells": true,
    "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
  }
  {%- endcapture -%}
{%- endif -%}{% endcomment %}

{%- capture section_settings -%}
{
  "layout": {{ section.settings.layout_mode | json }}
}
{%- endcapture -%}

<section class="team1 Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="featured-collections" data-settings='{{ section_settings }}'>

  <div class="Container team">
    
    <header class="PageHeader">
      <div class="SectionHeader SectionHeader--center">
        <h1 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title }}</h1>
      </div>
    </header>
  
    <div class="ProductList ProductList--carousel Carousel">
    	{%- for block in section.blocks -%}
        	<div class="Carousel__Cell">
              <img src="{{ block.settings.image | img_url:'original' }}">
              <div class="Rte" style="text-align: center;">
              	<h4 style="margin-bottom: 5px;">{{ block.settings.name }}</h4>
                <h5 style="margin-top: 0px;">{{ block.settings.designation }}</h5>
              </div>
            </div>
        {%- endfor -%}
    </div>          
  
  </div>
</section>


{% schema %}
{
  "name": "Team Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Heading",
      "default": "Our Team"
    },
    {
      "type": "select",
      "id": "layout_mode",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "header",
      "content": "Grid",
      "info": "Those settings apply only if the layout mode is set to grid."
    },
    {
      "type": "select",
      "id": "grid_mobile_items_per_row",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "min": 2,
      "max": 4,
      "id": "grid_desktop_items_per_row",
      "label": "Products per row (desktop)",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Team Member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Name"
        },
        {
          "type": "text",
          "id": "designation",
          "label": "Designation",
          "default": "Designation"
        },
        {
          "type": "range",
          "id": "grid_items_count",
          "min": 2,
          "max": 50,
          "step": 1,
          "label": "Products to show",
          "default": 8
        }
      ]
    }
  ],
 "presets": [
    {
      "name": "team",
      "settings": {
        "title": "Slideshow"
      }
    }
  ]
}
{% endschema %}